body::-webkit-scrollbar{
    display: none;
}

.font-for-text {
    font-family: 'VT323';
}

.font-for-brand {
    font-family: 'Press Start 2P'
}

.no-posts-text {
    margin-block: 120px;
}

.navbar-background {
  background: linear-gradient(135deg, purple, rgb(241, 133, 151));
  animation: gradientShift 5s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.nav-button {
    transition: background-color 0.3 ease;
    border-radius: 10px;
}

.nav-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(241, 133, 151) !important;
    border-radius: 10px;
}

.footer-styling {
    text-align: center;
    margin-top: auto;
    font-family: 'VT323';
}

.container-feed-styling {
    padding-block: 30px;
    margin-block: 30px;
    margin-inline: 300px;
    border: 1px solid gray;
    border-radius: 30px;
    background: linear-gradient(135deg, purple, rgb(241, 133, 151));
    animation: gradientShift 5s ease infinite;
    background-size: 200% 200%;
}

.container-post-styling {
    padding-block: 20px;
    padding-inline: 90px;
    margin-block: 30px;
    margin-inline: 30px;
    border: 1.5px solid black;
    border-radius: 20px;
    background-color: white;
    animation: gradientShift 5s ease infinite;
    background-size: 200% 200%;
}

.container-login-styling {
    padding-block: 50px;
    padding-inline: 10px;
    margin-block: 30px;
    margin-inline: 400px;
    border: 1.5px solid gray;
    border-radius: 30px;
    background: linear-gradient(135deg, purple, rgb(241, 133, 151));
    animation: gradientShift 5s ease infinite;
    background-size: 200% 200%;
}

.container-post-styling {
    padding-block: 50px;
    padding-inline: 10px;
    margin-block: 30px;
    margin-inline: 400px;
    border: 1.5px solid gray;
    border-radius: 30px;
    background: linear-gradient(135deg, purple, rgb(241, 133, 151));
    animation: gradientShift 5s ease infinite;
    background-size: 200% 200%;
}

.container-post-styling textarea {
    width: 70% !important;
    box-sizing: border-box;
}

.button-styling {
    background: linear-gradient(135deg, purple, rgb(241, 133, 151));
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    padding-inline: 10px;
    padding-block: 2px;
    animation: gradientShift 5s ease infinite;
    background-size: 200% 200%;
}

.button-styling:hover {
    background: white;
    color: purple;
}

.post-button {
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 3px;
    padding-inline: 5px;
    border-radius: 5px;
    border: 1px black solid;
    animation: gradientShift 5s ease infinite;
    background-size: 200% 200%;
}

.post-button:hover {
    color: purple;
    background-color: pink;
}

.cancel-button {
    padding-block: 6px; 
    border: 2px solid black;
}

textarea[name="content"] {
  border-radius: 8px;
  border: 1px solid #666;
  padding: 10px;
  width: 500px
}
