.font-for-text {
    font-family: 'Oswald';
}

.no-posts-text {
    margin-block: 120px;
}

.navbar-background {
    background-color: green;
}

.nav-button {
    transition: background-color 0.3 ease;
    border-radius: 10px;
}

.nav-button:hover {
    background-color: rgb(255, 255, 255);
    color: green !important;
    border-radius: 10px;
}

.footer-styling {
    text-align: center;
    font-family: 'Oswald';
    margin-top: auto;
}

.container-feed-styling {
    padding-block: 30px;
    margin-block: 30px;
    border: 1px solid gray;
    border-radius: 30px;
}

.container-post-styling {
    padding-block: 20px;
    padding-inline: 90px;
    margin-block: 30px;
    margin-inline: 30px;
    border: 1px solid gray;
    border-radius: 20px;
}

.container-login-styling {
    padding-block: 50px;
    padding-inline: 10px;
    margin-block: 30px;
    margin-inline: 300px;
    border: 1px solid gray;
    border-radius: 30px;
}

.button-styling {
    background-color: green;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    padding-inline: 10px;
    padding-block: 1px;
}

.button-styling:hover {
    background-color: white;
    color: green;
}

