{% extends 'core/base.html' %}

{% block content %}
    <div class="container-feed-styling text-center text-black font-for-text d-flex flex-column gap-2">
        <h1 class="font-for-brand text-white mb-3" style="font-size: 30px">LEADERBOARD</h1>
        {% for user in users %}
            <div class="container-user-styling fs-5">
                <p>{{ user.username }} – {{ user.total_likes }} likes</p>
                {% if user.total_likes >= 10 %}
                    <p style="color: gold">Rank: Diabolical Roaster</p>
                {% elif user.total_likes >= 5 %}
                    <p style="color: silver">Rank: Amateur Roaster</p>
                {% else %}
                    <p style="color: brown">Rank: Bottom Tier Roaster</p>
                {% endif %}
                <a href="{% url 'profile' user.username %}" class="button-styling text-decoration-none">View Profile</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
